.head{
    text-align: center;
    background-color:black;
    color:darkgreen
    ;
    font-weight: bold;
}
.G1{
    color:skyblue;
}
.i1{
    color:skyblue;
}
table,tr,td{
border-collapse: collapse;
border: 1px solid black;
background-color:purple
;
}
table{
width: 100%;

}
.checkbox{
    padding-right: 300px;
}